.textField {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-prompt-text-fill: #FFFFFF;
}

.menu-button {
    -fx-font-family: "Simsun";
    -fx-font-size: 40px;
    -fx-color: #FFFFFF;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center-left;
    -fx-min-width: 0;

}

.menu-button:hover {
    -fx-color: #FFFFFF;
    -fx-text-fill: #FD8C2A;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
    -fx-cursor: hand;
}

.menu-button:pressed {
    -fx-color: #FFFFFF;
    -fx-text-fill: #FD8C2A;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}

.menu-button:disabled {
    -fx-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}

.menu-button:default {
    -fx-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}

.optionsWindow-anchorPane {
    -fx-background-color: #000000;
    -fx-min-width: 380px;
    -fx-min-height: 300px;
}

.options-spinner {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-body-color: #00000000;

}

.alert {
    -fx-font-family: "Simsun";
    -fx-font-size: 30px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.alert {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.ranking-HBox {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #1B1A17;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;

    -fx-spacing: 15px;
    -fx-padding: 10px;

    /* set min and max widht */
    -fx-min-width: 142px;
    -fx-max-width: 142px;

}

.rankingName-label {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    /* set min and max widht */
    -fx-min-width: 75px;
    -fx-max-width: 75px;
}

.rankingScore-label {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #FD8C2A;
}

.powerup-button {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #FD8C2A;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-alignment: center;
}

.powerup-button:hover {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #FD8C2A;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
    -fx-cursor: hand;
}

.powerup-button:pressed {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #1B1A17;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 1, 2);
}

.powerup-button:disabled {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #FD8C2A;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}

.powerup-button:default {
    -fx-font-family: "Simsun";
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #FD8C2A;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}